*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family:"Roboto", arial
}
#banner{
	background-color: #37A8FF;
}
#title{
	color: white;
	display: flex;
	justify-content: center;
	padding-bottom: 2vw;
}
#log{
	border: none;
	font-size: 5vw;
	color: white;
	background: #37A8FF;
}
#Uname{
	padding-top: 25vw;
}
#Uname img{
	height: auto;
}
#log:hover{
	background-color: #005CA3;
}
#login_userinput ul li{
	display: flex;
	justify-content: center;
	padding: 1vw;
}
#login_button:hover{
	background-color: #BEBEBE;
}
#login_button{
	padding: 2vw;
	display: flex;
	justify-content: center;
	width: 80%;
	color: black;
	box-sizing: border-box;
	border: 1px solid black;
	background: white;
}
input{
	padding: 3vw;
	width: 80%;
	border: none;
	border-bottom: 1px solid black;
	font-size: 4vw;
}
h1{
	font-size: 10vw;
}
a{
	font-size: 5vw;
}
.sidebar{
	position: fixed;
	top: 0;
	left: -40vw;
	width: 40vw;
	height: 100%;
	background: #FFFFFF;
	transition: all .5s;
	border: 1px solid black;
}
.sidebar header{
	padding-left: 2vw;
	font-size: 8vw;
	color: black;
	/* text-align: center; */
	line-height: 15vw;
	user-select: none;
	background: #37A8FF;
}
.sidebar ul a{
	display: block;
	height: 15vw;
	width: 100%;
	line-height: 14vw;
	color: black;
	padding-left: 10%;
	box-sizing: border-box;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid black;
}
.sidebar ul li:hover{
	background-color: #BEBEBE;
}
#check{
	display: none;
}
label #btn, label #cancel{
	position: absolute;
	background: #008F38;
	border-radius: 4px;
}
label #btn{
	left: 20px;
	top: 20px;
	font-size: 35px;
	color: white;
	padding: 6px 12px;
	transition: all .5s;
}

label #cancel{
	position: fixed;
	z-index: 1111;
	left: -195px;
	top: 15px;
	font-size: 6vw;
	padding: 4px 9px;
	transition: all .5s ease;
}
#check:checked ~ .sidebar{
	left: 0;
	top: 0;
}
#check:checked ~ label #btn{
	left: 0;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel{
	left: 33vw;
}
#cancel:hover{
	font-size: 8vw;
}
.logo{	
	width: 100%;
	height: auto;
}
.active{
	background: #BEBEBE
}
.selection{
	background: #37A8FF;
}
.selection h1{
	color: white;
}
.selection ul li{
	height: 13vw;
	padding: 1vw;   
}
.selection ul a, .button{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	line-height: 65px;
	color: black;
	box-sizing: border-box;
	border: 1px solid black;
	background: white;
	align-items: center;
}
.button{
	padding: 2vw;
}
.button:hover, .selection ul a:hover{
	background-color: #BEBEBE;
}
.back{
	position: absolute;
	background-color: #37A8FF;
	color: white;
	left: 35px;
	top: 35px;
	height: 10vw;
	width: 10vw;
}
.back:hover{
	color: #0075D0;
}
.overview{
	padding: 2vw;
}
.overview ul a{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	line-height: 65px;
	color: black;
	background-color: #BEBEBE;
	box-sizing: border-box;
	border: 1px solid black;
	text-align: center;
}
.overview ul{
	padding-top: 2vw;
	padding-bottom: 2vw;
}
.information{
	display: flex;
	box-sizing: border-box;
	border: 1px solid black;
	height: 60%;
	width: 100%;
	padding: 1vw;
}
.training{
	text-align: center;
}
.training h1{
	padding-bottom: 3vw;
}
.hint{
	font-size: 3vw;
	padding-left: 5vw;
	padding-right: 5vw;
}
.timer{
	text-align: center;
}
#time{
	font-size: 25vw;
}
#startTimer, #nextExercise{
	font-size: 5vw;
	height: 10vw;
	width: 60vw;
}